.header{
    background-color: #f4f0ea;
    position: fixed;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    padding: 10px;
    z-index: 10;
    left: 0;
    top: 0;
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    position: relative;
}

.bar p{
    margin: 0px;
}

.bar a{
    text-decoration: none;
    color: black;
    position: absolute;
    left: 0;
}

/* .shopContainer{
    display: flex;
    gap: 30px;
    position: absolute;
    right: 0;
} */

.el{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

/* .label{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
} */

/* .label p:nth-of-type(2){
    position: absolute;
}

.label p:nth-of-type(2){
    opacity: 0;
} */

/* .shop{
    display: none;
} */

.burger{
    width: 30px;
    position: relative;
    pointer-events: none;
}

.burger::after, .burger::before{
    content: "";
    height: 2px;
    width: 100%;
    background-color: black;
    position: relative;
    display: block;
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
}

.burger::after{
    top: -6px;
}
.burger::before{
    top: 6px;
}

.burgerActive::after{
    transform: rotate(45deg);
    top: -2px;
}

.burgerActive::before{
    transform: rotate(-45deg);
    top: 2px;
}

@media only screen and (min-width: 600px) {
    .header{
        padding: 20px;
    }
    .bar{
        font-size: 15px;
    }
   
    .shop{
        display: block;
        cursor: pointer;
    }
}

.nav{
    overflow: hidden;
 }
 
 .wrapper{
     display: flex;
     gap: 50px;
     margin-bottom: 80px;
 }
 
 .container{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 
 @media only screen and (min-width: 1000px) {
    
     .wrapper{
         margin-bottom: 0px;
         justify-content: space-between;
     }
 }

 .body{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.body a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.body p{
    margin: 0px;
    display: flex;
    overflow: hidden;
    font-size: 32px;
    padding-right: 30px;
    padding-top: 10px;
    font-weight: 300;
}

@media only screen and (min-width: 1000px) {
   
    .body{
        max-width: 1200px;
        margin-top: 80px;
    }
    .body p{
        font-size: 5vw;
        padding-right: 2vw;
    }
}